<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Api Wars</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="/static/planets.js" async></script>
</head>
<body>
    <h2>Star Wars universe planets</h2>
    <div>
        <button type="button" class="login">
            <a href="/login">
                Log in
            </a>
        </button>
        <button type="button" class="register">
            <a href="/registration">
               Registration
            </a>
        </button>
    </div>
    <table class="table-striped">
        <tr>
            {% for header in headers %}
                <th>{{ header }}</th>
            {% endfor %}
        </tr>
        {% for planet in planets %}
            <tr class="{{ planet.name }}">
                <td>{{ planet.name }}</td>
                <td>{{ planet.diameter }} km</td>
                <td>{{ planet.climate }}</td>
                <td>{{ planet.terrain }}</td>
                {% if planet.surface_water == "unknown" %}
                    <td>unknown</td>
                {% else %}
                    <td>{{ planet.surface_water }}%</td>
                {% endif %}
                {% if planet.population == "unknown" %}
                    <td>unknown</td>
                {% else %}
                    <td>{{ planet.population }} people</td>
                {% endif %}
                {% if planet.residents|length == 0 %}
                    <td>No known residents</td>
                {% else %}
                    <td class="residents">
                        <button type="button" class="btn btn-primary" id="resident-{{ planet.name }}" ></button>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
</body>
</html>